{% extends "./includes/base.html" %}

{% block content %}
<div class="container mt-5">
    
    <h1>{{ country.name_common }}</h1>

    {% if summary %}
            <h1>Country Summary</h1>
            <pre>{{ summary }}</pre>
            <pre>population_density : {{ population_density }} (people per square kilometer)</pre>
            <pre>primary_currency : {{ primary_currency }}</pre>
            <pre>Weekend : {{ local_weekend }}</pre>

    {% else %}
            <p class="error">{{ message }}</p>
        {% endif %}
</div>
{% endblock %}
