{% extends "./includes/base.html" %}

{% block content %}
<div class="container mt-5">
    
    <h1>{{ country.name_common }}</h1>

    {% if summary %}
            <h1>Country Summary</h1>
            <pre>{{ summary }}</pre>
            <pre>population_density : {{ population_density }}</pre>
            <pre>primary_currency : {{ primary_currency }}</pre>
            <pre>Weekend : {{ local_weekend }}</pre>
            <pre>spoken_language : {{ spoken_language }}</pre>

            {% if is_island %}
            <pre>Is a Islan</pre>
        
            {% endif %}
        {% else %}
            <p class="error">{{ message }}</p>
        {% endif %}
</div>
{% endblock %}
